# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_MINAKO_LEFT
	def_bool $(shields_list_contains,minako_left)

config SHIELD_MINAKO_RIGHT
	def_bool $(shields_list_contains,minako_right)
